@font-face{
    font-family: Eightgon;
    src: url("fonts/eightgon-font/Eightgon-OGn6p.ttf");
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

 
#nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0px 0px 50px 0px;
    font-size: 20px;
    font-family: Eightgon;
}

#nav a{
    text-decoration: none;
    padding: 50px 50px;
    border-radius: 25px;
}

body{
    background-color: rgb(24, 22, 24);
}

a:link {
  color: rgb(237, 226, 245);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(237, 226, 245);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(237, 226, 245);
  background-color: transparent;
  text-decoration: underline;
}

h1{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Eightgon;
    font-size: 60px;
}

p{
    color: white; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    margin: 50px 200px;
    line-height: 1.5;
}

.container{
    border: white solid 2px;
    color: white; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    margin: 10px;
}